body{ background-color:#e9eaed; padding:0px; margin:0px; font-size:16px; font-family:Verdana, Geneva, sans-serif}
#header{ background-color:#0b0e17; padding:10px;}
.logo_resimag{ width:260px; margin-left:auto; margin-right:auto;}

#yukle_main_div{ width:600px; margin-left:auto; margin-right:auto; background-color:#fff; border:8px #bcbfc8 solid; }

.gosterim_sayisi{ border:1px #CCC solid; padding:10px;}
.ortala{ margin-left:auto; margin-right:auto;}

.clear{ clear:both}
.rad_20{-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;}
.rad_10{-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;}
.rad_3{-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;}

.form_tepe{ width:100%; border:none;   outline: none;}
.form_tepe:focus{ border:none;   outline: none;}
.form_tepe:active{ border:none;   outline: none;}

#tab_b{ width:270px; text-align:center; float:left; padding-bottom:15px; font-size:16px;}
#tab_i{ width:270px; text-align:center; float:left; padding-bottom:15px; font-size:16px;}
.tab_selected{ border-bottom:2px #0b0e17 solid;}

.f_12{ font-size:12px;}
.f_16{ font-size:16px;}
.f_20{ font-size:20px !important;}
.f_36{ font-size:36px !important;}

.c_gri{ color:#707582; }
.c_siyah{ color:#000;}

.al_center{text-align:center}
.w_n{ font-weight:normal !important}
.w_b{ font-weight:bold !important}

.dnone{ display:none}
.m_show{ display:none}

.m_0{ margin:0px;}
.p_0{ padding:0px;}
.p_10{ padding:10px;}
.p_20{ padding:20px;}


.m_b_20{ margin-bottom:20px;}
.m_b_40{ margin-bottom:40px;}
.m_t_10{ margin-top:10px;}
.m_t_20{ margin-top:20px;}
.m_t_40{ margin-top:40px;}
.m_t_5{ margin-top:5px;}
.m_r_20{ margin-right:20px;}
.m_l_r_20{ margin-left:20px; margin-right:20px;}

.div_1000{ width:1000px;}
.div_800{ width:800px;}
.div_336{ width:336px; float:left;}
.div_644{ width:644px; float:left; margin-right:20px;}

.float_l{ float:left}
.float_r{ float:right}

.bg_beyaz{ background-color:#fff;}
.border_gri_8{border:8px #bcbfc8 solid; }
.border_gri_2{border:2px #bcbfc8 solid; }

.img_100_auto{ width:100%; height:auto }
.img_100_auto_h{ height:100%; width:auto }

#footer{ margin:40px 20px; text-align:center}
#footer_mobil{ margin:20px; text-align:center}

